<body>
    <!-- <h1 style="text-align:center; color:rgb(240, 234, 234)">Education...</h1> -->
    <div class=" container ">
        <div class="row ">
            <div class="col-md-4 ">
                <div class="blog-card blog-card-blog ">
                    <div class="blog-card-image ">
                        <a href="# "> <img class="img " src="assets/adhiyaman photo.jpeg"> </a>
                        <div class="ripple-cont "></div>
                    </div>
                    <div class="blog-table ">
                        <h6 class="blog-category blog-text-success "><i class="far fa-newspaper "></i></h6>
                        <h4 class="blog-card-caption ">
                            <a href="# ">Adhiyaman MHSS, Uthangarai</a>
                        </h4>
                        <p class="blog-card-description "> I have completed SSLC with
                            <B>97.2%</B> in the academic year 2015-2016 </p>

                    </div>
                </div>
            </div>


            <div class="col-md-4 ">
                <div class="blog-card blog-card-blog ">
                    <div class="blog-card-image ">
                        <a href="# "> <img class="img " src="assets/kkmhss photo.jpeg"> </a>
                        <div class="ripple-cont "></div>
                    </div>
                    <div class="blog-table ">
                        <h6 class="blog-category blog-text-success "><i class="far fa-newspaper "></i></h6>
                        <h4 class="blog-card-caption ">
                            <a href="# ">Kalaimagal Kalalaya MHSS, Mathur</a>
                        </h4>
                        <p class="blog-card-description ">I have completed HSC with
                            <B>95.1%</B> in the academic year 2017-2018</p>

                    </div>
                </div>
            </div>

            <div class="col-md-4 ">
                <div class="blog-card blog-card-blog ">
                    <div class="blog-card-image ">
                        <a href="# "> <img class="img " src="\assets\MIT.jpg "> </a>
                        <div class="ripple-cont "></div>
                    </div>
                    <div class="blog-table ">
                        <h6 class="blog-category blog-text-success "><i class="far fa-newspaper "></i></h6>
                        <h4 class="blog-card-caption ">
                            <a href="# ">Madras Institute of Technology,
                              Chrompet</a>
                        </h4>
                        <p class="blog-card-description ">I have Completed Bachelor degree under the domain
                            <B>Electronics and Communication Engineering</B> with CGPA of
                            <B>8.36</B> during the period 2018-2022. </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
