<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <!-- Photo Grid -->
    <!-- Row 1 -->

    <div class="card">
        <img class="card-img-top" src="\assets\mphasis.png" alt="Mphasis logo">
        <div class="card-body">
            <h5 class="card-title">Work Experience</h5>
            <ul class="list-group">
                <li class="list-group-item list-group-item-success"><i class="fa fa-briefcase" style="font-size:20px;"></i> Mphasis Limited</li>
                <li class="list-group-item list-group-item-success"><i class="fa fa-user" style="font-size:20px;"></i> Java Full Stack Developer<br> (Completed Training)</li>
                <li class="list-group-item list-group-item-success"><i class="fa fa-map-marker" style="font-size:20px;"></i>Pune</li>
                <li class="list-group-item list-group-item-success"><i class="fa fa-clock-o" style="font-size:20px;"></i>7 months</li>
            </ul>

        </div>
        <div class="card-footer">
            <a href="https://github.com/ragulak" id="left-panel-link" target="_blank">My Github</a>
            <a href="https://www.mphasis.com/home.html" id="right-panel-link" target="_blank">Visit site</a>
        </div>
    </div>

    <div class="sep"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
<!-- <button type="button" class="btn btn-primary" id="left-panel-link" href="">Github</button>
<button type="button" class="btn" data-toggle="modal" data-target="" id="right-panel-link">Learn More
            </button> -->
