<body>
    <div class="container">
        <div class="content">

            <div class="card card-blue-light">
                <h3>Employee Payroll Management</h3>
                <p> It is an Internet-based Java app that automates the working of a
                    company.Workers may access their details, schedules, and
                    attendance while the supervisor manages numerous tasks including
                    maintaining salary data, tracking attendance, and updating employee
                    details.</p>
                <P>Tools used:
                    <B>Eclipse,Spring Boot,MySql,Angular,Postman, Selenium.</B>
                </P>
                <div class="pad-top"><a href=" https://github.com/ragulak/E-Payroll-Management" class="button">Github</a></div>
            </div>

            <div class="card card-yellow">
                <h3>mAadhar Application</h3>
                <p> An online application for the process of applying an Aadhar Card by making it smoother for Indian citizens which has two major divisions for admin and citizen logins .This Application is created to register citizens and let the administrative
                    authorities to display their details to process their Aadhar Card application.</p>
                <P>Tools used:
                    <B>Eclipse,Angular</B>
                </P>
                <div class="pad-top"><a href="https://github.com/ragulak/Capstone-mAdhaar" class="button">Github</a></div>
            </div>

            <div class="card card-blue-dark">
                <h3>FlyAway Application</h3>
                <p> Flyaway is an online flight ticket booking portal. One can easily search flights and book accordingly to their travel.Passengers can book their flights by user login and all the details are stored in the backend.</p>
                <P>Tools used:
                    <B>Eclipse,JDBC,JSP,MySql</B>
                </P>
                <div class="pad-top"><a href="https://github.com/ragulak/Capstone-FlyAway" class="button">Github</a></div>
            </div>
        </div>
    </div>
</body>
