<body>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <div class="container">
        <div class="card">
            <div class="box">
                <div class="percent">
                    <svg>
           <circle cx="70" cy="70" r="70"></circle>
           <circle cx="70" cy="70" r="70"></circle>
         </svg>
                    <div class="number">
                        <h2>90<span>%</span></h2>
                    </div>
                    <h3>J2EE</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="percent">
                    <svg>
           <circle cx="70" cy="70" r="70"></circle>
           <circle cx="70" cy="70" r="70"></circle>
         </svg>
                    <div class="number">
                        <h2>80<span>%</span></h2>
                    </div>
                    <h3>Spring Boot</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="percent">
                    <svg>
           <circle cx="70" cy="70" r="70"></circle>
           <circle cx="70" cy="70" r="70"></circle>
         </svg>
                    <div class="number">
                        <h2>70<span>%</span></h2>
                    </div>
                    <h3>Restful webservices</h3>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="box">
                <div class="percent">
                    <svg>
           <circle cx="70" cy="70" r="70"></circle>
           <circle cx="70" cy="70" r="70"></circle>
         </svg>
                    <div class="number">
                        <h2>90<span>%</span></h2>
                    </div>
                    <h3>HTML5 & CSS3</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="percent">
                    <svg>
           <circle cx="70" cy="70" r="70"></circle>
           <circle cx="70" cy="70" r="70"></circle>
         </svg>
                    <div class="number">
                        <h2>80<span>%</span></h2>
                    </div>
                    <h3>Angular</h3>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="percent">
                    <svg>
         <circle cx="70" cy="70" r="70"></circle>
         <circle cx="70" cy="70" r="70"></circle>
       </svg>
                    <div class="number">
                        <h2>80<span>%</span></h2>
                    </div>
                    <h3>JavaScript</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="percent">
                    <svg>
       <circle cx="70" cy="70" r="70"></circle>
       <circle cx="70" cy="70" r="70"></circle>
     </svg>
                    <div class="number">
                        <h2>70<span>%</span></h2>
                    </div>
                    <h3>TypeScript</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="percent">
                    <svg>
       <circle cx="70" cy="70" r="70"></circle>
       <circle cx="70" cy="70" r="70"></circle>
     </svg>
                    <div class="number">
                        <h2>90<span>%</span></h2>
                    </div>
                    <h3>Automation & Testing</h3>
                </div>
            </div>
        </div>
    </div>
</body>
