<body>
    <div class="card">
        <div class="img">
            <img src="assets/ragul photo prooo.png">
        </div>
        <div class="infos">
           
            <p class="text">
                Hi... I am Ragul 😀.<br>I am a Full Stack Java Developer ,currently Working at Mphasis Limited. I have successfully completed training and worked on various projects utilizing both frontend and backend technologies.<br>Willing to expand
                my skillset and gain knowledge about new technologies</p>

            <div class="links">
                <button class="view" routerLink="/contact">Hire me</button>
                <button class="follow"><a href="assets/RAGUL AK  - 2528859 -RESUME.pdf">Download CV</a></button>

            </div>
        </div>
    </div>
</body>
